---
import { siteMetadata } from "../lib/siteMetadata.js";
import "../styles/global.css";

const { bodyClass, loadDemoClient = false, title = siteMetadata.siteTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={bodyClass}>
    <main class="page-shell">
      <slot />
    </main>
    <script>
      import { preserveInstructorModeLinks } from "../lib/instructorModeLinks.js";

      preserveInstructorModeLinks(document);
    </script>
    {
      loadDemoClient && (
        <script>
          import "../lib/demoClientEntrypoint.js";
        </script>
      )
    }
  </body>
</html>
